[Unit]
Description=RTL-SDR IQ Record Service
After=network.target

[Service]
ExecStart=/path/to/your/script.sh
Type=simple
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target